body {
    /* font-family: 'Mako', Georgia; */
}

.float-right {
    float: right;
}

/* Override codemirror's defaults. */
/*
.CodeMirror-scroll {
    height: auto !important;
    overflow: visible !important;
}
*/