body {
	background: white;
}

span:hover {
        background: red;
	color: white;
}

span.dirty {
	background: #888800;
}

span.clean {
	background: #00ff00;
}

span.ancestor {
	background: #8888ff;
}

span.mergecommand {
	color: blue;
	display: none;
}

span.nonselected span.mergecommand { display: inline; }

.deletedFile { display: none; }

.invisible { display: none; }

#log { border: solid black 1px; padding: 0.5em; background: #eee; }
