.common { background: #ffff00; }
.removed { background: #ff8888; }
.inserted { background: #88ff88; }

.highlight { background: #ffff00; }

.center { text-align: center; }

.Y { background: #ffff00; }
.B { background: #8888ff; }
.G { background: #88ff88; }
.R { background: #ff8888; }

.demobutton { float: right }
